body {
  margin: 0;
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center; /* body 안 다 가운데정렬 */
}

.signWrapper {
  position: absolute; /* 절대 영역으로 지정, 화면의 흐름을 다 깸... 필요한 경우 말고 쓰지 말기 */
  top: 50%;
  transform: translate(0, -50%);
  background: white;
  width: 500px;
  height: 700px;
  border-radius: 16px;
  text-align: center;
}

.signWrapper h1 {
  margin: 100px 0 50px 0; /* 시계방향 */
}

.signForm {
  /* background: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center; /* 내용 가운데로 맞춤 */
  margin-bottom: 20px;
  gap: 15px 0; /* flex 속성을 쓰면 사용할 수 있음. 사이사이를 15px씩 떨어뜨려놓겠다! */
}

.signButton {
  padding: 0px;
  border-radius: 8px;
  width: 400px;
  height: 50px;
  cursor: pointer;
  margin-top: 40px;
  color: white;
  font-size: 20px;
  border: 1px solid #fff;
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(
    90deg,
    rgba(167, 167, 255, 1) 0%,
    rgba(0, 179, 215, 1) 100%);
}

.signInput {
  font-size: 20px;
  width: 400px;
  height: 50px;
  padding: 0px;
  border: 0;
  border-bottom: 1px solid rgb(199, 199, 199);
  outline: none;
  transition: 0.5 ease-out;
}

.signInput:focus {
  border-bottom: 1px solid rgba(176, 167, 255, 1);
}